<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.beyonditsm.echinfo">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- QQ、QQ空间所需权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.SplashAct"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
        <!--登陆-->
        <activity
            android:name=".activity.LoginAct"
            android:screenOrientation="portrait"></activity>
        <!--主页面-->
        <activity
            android:name=".activity.MainAct"
            android:screenOrientation="portrait"></activity>
        <!--忘记密码-->
        <activity
            android:name=".activity.ForgetAct"
            android:screenOrientation="portrait"></activity>
        <!--注册-->
        <activity
            android:name=".activity.RegAct"
            android:screenOrientation="portrait"></activity>
        <!-- 我的-->
        <activity
            android:name=".activity.MineAct"
            android:screenOrientation="portrait"></activity>
        <!--意见反馈-->
        <activity
            android:name=".activity.FeedBackAct"
            android:screenOrientation="portrait"></activity>
        <!--我的关注-->
        <activity
            android:name=".activity.MyFollowAct"
            android:screenOrientation="portrait"></activity>
        <!--消息-->
        <activity
            android:name=".activity.MsgAct"
            android:screenOrientation="portrait"></activity>
        <!-- 设置-->
        <activity
            android:name=".activity.SettingAct"
            android:screenOrientation="portrait"></activity>
        <!--修改密码-->
        <activity
            android:name=".activity.UpdatePwdAct"
            android:screenOrientation="portrait"></activity>
        <!-- 各种h5页面-->
        <activity
            android:name=".activity.WebAct"
            android:screenOrientation="portrait"></activity>
        <!-- 对外投资-->
        <activity
            android:name=".activity.InvestmentAct"
            android:screenOrientation="portrait"></activity>
        <!-- 分只机构-->
        <activity
            android:name=".activity.PamentAct"
            android:screenOrientation="portrait"></activity>
        <!-- 纠错界面-->
        <activity
            android:name=".activity.ErrorAct"
            android:screenOrientation="portrait"></activity>
        <!--修改资料-->
        <activity android:name=".activity.UpdateAct"
            android:screenOrientation="portrait"></activity>
        <!--职业选择-->
        <activity
            android:name=".activity.OccupationAct"
            android:screenOrientation="portrait"></activity>
        <!--裁减照片-->
        <activity android:name=".activity.ClipActivity"
            android:screenOrientation="portrait"></activity>
        <!--不良信用查询系统-->
        <activity android:name=".activity.BadCreditAct"
            android:screenOrientation="portrait"
            ></activity>
        <!-- 企业详情页面-->
        <activity android:name=".activity.CompanyxqAct"
            android:screenOrientation="portrait"></activity>
        <!--查询-->
        <activity android:name=".activity.SearchAct"
            android:screenOrientation="portrait"
            ></activity>
        <!-- 股东详情-->
        <activity android:name=".activity.GudonginfoAct"
            android:screenOrientation="portrait"></activity>
        <!-- 企业资讯-->
        <activity android:name=".activity.InformationAct"
            android:screenOrientation="portrait"></activity>
        <!-- 资讯详情-->
        <activity android:name=".activity.DetailsAct"
            android:screenOrientation="portrait"></activity>
        <!-- 诉讼信息列表界面-->
        <activity android:name=".activity.LitigationAct"
            android:screenOrientation="portrait"></activity>

        <!-- ###################注册SDK使用的Activity###################### -->
        <!--分享编辑页-->
        <activity
            android:name="com.umeng.socialize.view.ShareActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>
        <!-- ############ QQ空间和QQ SSO授权的Activity注册 ############ -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="1105241351" />
            </intent-filter>
        </activity>
        <activity android:name="com.tencent.connect.common.AssistActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />
        <!-- ###################添加UmengAppkey###################### -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5705d89ce0f55aed4f000ee7" >
        </meta-data>
    </application>


</manifest>
