<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.beyonditsm.echinfo">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- QQ、QQ空间所需权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <!--百度地图-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".MyApplication">

        <activity
            android:name=".activity.SplashAct"
            android:icon="@mipmap/logo"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
        <!--登陆-->
        <activity
            android:name=".activity.LoginAct"
            android:screenOrientation="portrait"></activity>
        <!--主页面-->
        <activity
            android:name=".activity.MainAct"
            android:screenOrientation="portrait"></activity>
        <!--忘记密码-->
        <activity
            android:name=".activity.ForgetAct"
            android:screenOrientation="portrait"></activity>
        <!--注册-->
        <activity
            android:name=".activity.RegAct"
            android:screenOrientation="portrait"></activity>
        <!-- 我的-->
        <activity
            android:name=".activity.MineAct"
            android:screenOrientation="portrait"></activity>
        <!--意见反馈-->
        <activity
            android:name=".activity.FeedBackAct"
            android:screenOrientation="portrait"></activity>
        <!--我的关注-->
        <activity
            android:name=".activity.MyFollowAct"
            android:screenOrientation="portrait"></activity>
        <!--消息-->
        <activity
            android:name=".activity.MsgAct"
            android:screenOrientation="portrait"></activity>
        <!-- 设置-->
        <activity
            android:name=".activity.SettingAct"
            android:screenOrientation="portrait"></activity>
        <!--修改密码-->
        <activity
            android:name=".activity.UpdatePwdAct"
            android:screenOrientation="portrait"></activity>
        <!-- 各种h5页面-->
        <activity
            android:name=".activity.WebAct"
            android:screenOrientation="portrait"></activity>
        <!-- 对外投资-->
        <activity
            android:name=".activity.InvestmentAct"
            android:screenOrientation="portrait"></activity>
        <!-- 分只机构-->
        <activity
            android:name=".activity.PamentAct"
            android:screenOrientation="portrait"></activity>
        <!-- 纠错界面-->
        <activity
            android:name=".activity.ErrorAct"
            android:screenOrientation="portrait"></activity>
        <!--修改资料-->
        <activity android:name=".activity.UpdateAct"
            android:screenOrientation="portrait"></activity>
        <!--职业选择-->
        <activity
            android:name=".activity.OccupationAct"
            android:screenOrientation="portrait"></activity>
        <!--裁减照片-->
        <activity android:name=".activity.ClipActivity"
            android:screenOrientation="portrait"></activity>
        <!--不良信用查询系统-->
        <activity android:name=".activity.BadCreditAct"
            android:screenOrientation="portrait"
            ></activity>
        <!-- 企业详情页面-->
        <activity android:name=".activity.CompanyxqAct"
            android:screenOrientation="portrait"></activity>
        <!--查询-->
        <activity android:name=".activity.SearchAct"
            android:screenOrientation="portrait"
            ></activity>
        <!-- 股东详情-->
        <activity android:name=".activity.GudonginfoAct"
            android:screenOrientation="portrait"></activity>
        <!-- 企业资讯-->
        <activity android:name=".activity.InformationAct"
            android:screenOrientation="portrait"></activity>
        <!-- 资讯详情-->
        <activity android:name=".activity.DetailsAct"
            android:screenOrientation="portrait"></activity>
        <!-- 诉讼信息列表界面-->
        <activity android:name=".activity.LitigationAct"
            android:screenOrientation="portrait"></activity>
        <!-- 诉讼详情界面-->
        <activity android:name=".activity.LitigtinfoAct"
            android:screenOrientation="portrait"></activity>
        <!-- 主要成员界面-->
        <activity android:name=".activity.PeopleAct"
            android:screenOrientation="portrait"></activity>
        <!-- 热门企业界面-->
        <activity android:name=".activity.ReqyAct"
            android:screenOrientation="portrait"></activity>
        <!-- 变更记录界面-->
        <activity android:name=".activity.ChangecodeAct"
            android:screenOrientation="portrait"></activity>
        <!-- 地图-->
        <activity android:name=".activity.MapAct"
            android:screenOrientation="portrait"></activity>
        <!--失信榜单详情-->
        <activity android:name=".activity.DishonestyDetailAct"
            android:screenOrientation="portrait"/>
        <!--失信榜单列表详情-->
        <activity android:name=".activity.DishonestylistAct"
            android:screenOrientation="portrait"/>
        <!--工商信息-->
        <activity android:name=".activity.BusinessinfoAct"
            android:screenOrientation="portrait"/>
        <!--失信榜单-->
        <activity android:name=".activity.DishonestyInfoAct"
            android:screenOrientation="portrait"/>
        <!--失信详情-->
        <activity android:name=".activity.DisinfodetailAct"
            android:screenOrientation="portrait"/>
        <!--年报列表-->
        <activity android:name=".activity.AnnualAct"
            android:screenOrientation="portrait"/>
        <!--年报详情-->
        <activity android:name=".activity.AnnualDetaillistAct"
            android:screenOrientation="portrait"/>
        <!--子职业-->
        <activity android:name=".activity.OccupationChildAct"
            android:screenOrientation="portrait"/>
        <!--法院判决书-->
        <activity android:name=".activity.CourtAct"
            android:screenOrientation="portrait"/>
        <!--关于我们-->
        <activity android:name=".activity.AboutAct"
            android:screenOrientation="portrait"/>
        <!--注册成功界面-->
        <activity android:name=".activity.RegsucssAct"
            android:screenOrientation="portrait"></activity>
        <!--重置密码成功界面-->
        <activity android:name=".activity.ResetsucssAct"
            android:screenOrientation="portrait"></activity>



        <!-- ###################注册SDK使用的Activity###################### -->
        <!--分享编辑页-->
        <activity
            android:name="com.umeng.socialize.view.ShareActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>
        <!-- ############ QQ空间和QQ SSO授权的Activity注册 ############ -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity android:name="com.tencent.connect.common.AssistActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />
        <!-- ###################添加UmengAppkey###################### -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="572bfebc67e58eefab0005bb" >
        </meta-data>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="qPpZxkTPr44Z5FEcfZ7IRN4UQiu7qPo8" />
    </application>


</manifest>
